body {
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
h1,h2,h3{
    color: brown;
}
li {
    font-weight:bold ;
}
p{
    font-family: 'League Spartan',sans-serif;
}
table{
    border: 15px outset red;
    margin: 0 auto;
}
td{
    border: 10px outset rgb(245, 231, 33);
    font-size: 40px;

}
footer{
    color: rgb(100, 12, 182);
}

.move{
width: 300px;
height: 300px;
box-shadow:10px 20px;
border-radius: 30px;
background-color: red;
position: relative;
animation: identifier 5s linear 2s infinite alternate;
}
/* @keyframes identifier {
    0% {left: 10px; 
        top: 10px;
        right: 10px;
    }

    25% {
        left: 50px;
        top: 0px;
    }

    50% {
        left: 200px;
        top: 500px;
        right: 10px;
    }

    75% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
} */

button{
    border: 6px  outset coral;
    background-color: aquamarine;
}